body {
  background-image: url(../image/bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #04112a;
  color: #ffffff;
  font-family: 'Lato-Bold', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1220px;
  padding: 53px 10px 10px;
  margin: 0 auto;
  &__text-block {
    text-align: center;
    font-family: 'Nakadai', sans-serif;
  }
  &__title {
    font-size: 70px;
    line-height: 84px;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }
  &__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }
}
.logo {
  width: 100%;
  max-width: 270px;
}

@media (max-width: 768px) {
  .header {
    padding-top: 130px;
    padding-bottom: 44px;
    &__title {
      font-size: 24px;
      line-height: 29px;
    }
    &__text {
      font-size: 8px;
      line-height: 10px;
    }
  }
  .logo {
    max-width: 137px;
  }
}

.title {
  font-size: 79.1177px;
  line-height: 95px;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-shadow: 0px 0px 30px #ffba13;

  &__block {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  &__text {
    font-size: 61.0983px;
    line-height: 73px;
    text-align: center;
    letter-spacing: -0.04em;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 35px;
    line-height: 42px;
    &__text {
      font-size: 27px;
      line-height: 32px;
    }
  }
}

.video {
  width: 100%;
  max-width: 748px;
  height: 400px;
  margin: 0 auto 50px;
  padding: 0 10px;
}

.hypercomments {
  width: 100%;
  max-width: 748px;
  margin: 0 auto;
  padding: 0 10px;
}

.hc__menu__item,
.hc__menu__count {
  color: #fff !important;
}
.hc__menu__item::before {
  border-color: #fff !important;
  border-right-color: rgba(0, 0, 0, 0) !important;
  border-bottom-color: rgba(0, 0, 0, 0) !important;
  border-left-color: rgba(0, 0, 0, 0) !important;
}

@media (max-width: 700px) {
  .video {
    height: 300px;
  }
}

@media (max-width: 550px) {
  .video {
    height: 250px;
  }
}

@media (max-width: 470px) {
  .video {
    height: 200px;
  }
}

@media (max-width: 380px) {
  .video {
    height: 175px;
  }
}
